<ion-header>
  <ion-toolbar>
    <ion-title>material-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let group of items">
      <ion-item [lines]="group.show ? 'none' : 'full'" (click)="group.show = !group.show" color="primary">
        <h2 slot="start">{{group.id}}</h2>
        <ion-label>{{group.title}}</ion-label>
        <ion-icon [name]="group.show ? 'md-arrow-dropup' : 'md-arrow-dropdown'" slot="end"></ion-icon>
      </ion-item>

      <mat-accordion *ngIf="group.show">
        <mat-expansion-panel *ngFor="let subgroup of group.subgroups">
          <mat-expansion-panel-header>
            <ion-item>
              <h2 slot="start">{{subgroup.id}}.-</h2>
              <ion-label>{{subgroup.title}}</ion-label>
            </ion-item>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <ion-item *ngFor="let item of subgroup.items" color="tertiary">
              <h2 slot="start">{{item.id}}.-</h2>
              <ion-label>{{item.title}}</ion-label>
            </ion-item>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ion-list>
</ion-content>
