<ion-header>
  <ion-toolbar>
    <ion-title>material-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let group of items">
      <mat-expansion-panel-header>
        <ion-item>
          <h2 slot="start">{{group.id}}</h2>
          <ion-label>{{group.title}}</ion-label>
        </ion-item>
      </mat-expansion-panel-header>

      <ion-list>
        <div *ngFor="let subgroup of group.subgroups">
          <ion-item [lines]="subgroup.show ? 'none' : 'full'" (click)="subgroup.show = !subgroup.show" color="secondary">
            <h2 slot="start">{{subgroup.id}}.-</h2>
            <ion-label>{{subgroup.title}}</ion-label>
            <ion-icon [name]="subgroup.show ? 'md-arrow-dropup' : 'md-arrow-dropdown'" slot="end"></ion-icon>
          </ion-item>

          <ion-list *ngIf="subgroup.show">
            <ion-item *ngFor="let item of subgroup.items" color="tertiary">
              <h2 slot="start">{{item.id}}.-</h2>
              <ion-label>{{item.title}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>
