<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>

  <ion-button fill="outline" size="large" routerLink="/normal-list" routerDirection="forward">
    Go to Normal List
  </ion-button>

  <ion-button fill="outline" size="large" routerLink="/virtual-list" routerDirection="forward">
    Go to Virtual List
  </ion-button>

  <ion-button fill="outline" size="large" routerLink="/material-list" routerDirection="forward">
    Go to Material List
  </ion-button>

  <ion-button fill="outline" size="large" routerLink="/material-virtual-list" routerDirection="forward">
    Go to Material Virtual List
  </ion-button>
</ion-content>
